aiogram
python-dotenv
ccxt
matplotlib
seaborn
scikit-learn
tensorflow
statsmodels
prophet
deep-translator
xgboost
httpx
beautifulsoup4
plotly
ta
scipy
google-auth-oauthlib
google-auth
google-api-python-client